<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956387210068-5urjrslqh1l146hv2nfimcv66d3knlv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956387210068-5urjrslqh1l146hv2nfimcv66d3knlv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956387210068-1pdqkf8558otbm1856fu1tm689fu3ecl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOxo048xg5mIXy8bj57dYwATqYAyi1hmk</string>
	<key>GCM_SENDER_ID</key>
	<string>956387210068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>e-drive-dd9c1</string>
	<key>STORAGE_BUCKET</key>
	<string>e-drive-dd9c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956387210068:ios:4a59a4dbe05b2ef00c0ec1</string>
</dict>
</plist>